body {
    background-color: aqua;
    display: flex;
    justify-content: space-evenly;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: hsl(270, 77%, 63%)
}

button {
    color: white;
    background-color: #58c38a;
    padding: 10px 30px;
    border:none;
    border-radius: 5px;
}